
   body {
            background-color: #1c1c1c;
            color: #fff;
            font-family: Arial, sans-serif;
        }
        .header {
            background-color: #2d2d2d;
            padding: 10px;
            text-align: center;
            margin: 10px;
            border-radius: 5px;
        }
        .header img {
            border-radius: 50%;
        }
        
        
        .wallet-box {
            background-color: #2d2d2d;
            margin: 10px;
            padding: 10px;
            border-radius: 5px;
            text-align: center;
        }
        .mine-balenc{
          margin-right: 10px;
        }
        .wallet-box:hover {
            background-color: #3a3a3a;
        }
        .wallet-box span {
            margin-right: 10px;
        }
        .section {
            background-color: #2d2d2d;
            margin: 10px;
            padding: 10px;
            border-radius: 5px;
        }
        .section h5 {
            border-left: 3px solid orange;
            padding-left: 10px;
        }
        .section .row {
            margin-top: 10px;
        }
        .section .col {
            text-align: center;
            padding: 0;
        }
        .section .col button {
            background-color: #3a3a3a;
            border: none;
            padding: 10px;
            border-radius: 5px;
            color: #fff;
            width: 100%;
            transition: background-color 0.3s;
        }
        .section .col button:hover {
            background-color: #4a4a4a;
        }
        .section .col i {
            font-size: 24px;
            display: block;
            margin-bottom: 5px;
        }
        .section .col span {
            display: block;
        }
        .logout {
            text-align: center;
            margin: 20px 10px;
        }
        .logout button {
            background-color: #ff4d4d;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            color: #fff;
            transition: background-color 0.3s;
        }
        .logout button:hover {
            background-color: #ff6666;
        
        }
  